  
        body {
            font-family: Arial, sans-serif;
            background-color: lightgreen;
        }
        .form-container {
            width: 350px;
            margin: 50px auto;
            background: pink;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        h2 {
            text-align: center;
        }
        label {
            display: block;
            margin-top: 10px;
        }
        input, select, textarea {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
        }
        button {
            width: 100%;
            margin-top: 15px;
            padding: 10px;
            background-color: violet;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: greenyellow;
        }

     a1{
         background-color: pink;
     }